.article-container {
  height: inherit;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../../Images/news.jpg") center center/cover no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  color: #ffffff;
  min-height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: -webkit-translate(-50%, -50%);
  transform: -moz-translate(-50%, -50%);
  transform: -ms-translate(-50%, -50%);
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}
.pagination a {
  color: white;
  padding: 10px 16px !important;
  border: 1px solid #ddd;
}
.pagination .active a {
  background-color: #ddd;
  color: black;
  border: 1px solid #ddd;
}

.pagination li a:hover {
  background-color: #ddd;
  color: black;
  border: 1px solid #ccc;
}
.pagination .first,
.pagination .last,
.pagination .previous,
.pagination .next {
  display: none !important;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.lists-title {
  margin: 0;
  padding: 0;
  line-height: 3rem;
}

.article-container ul {
  margin: 0;
  padding: 0;
}
.cards-container {
  margin: auto;
  width: 80%;
}
.cards-row {
  margin: 0 -5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cards-column {
  flex: 0 1 24%;
  margin-bottom: 30px;
  margin-right: 50px;
}

.container h4 {
  line-height: 24px;
  letter-spacing: 1px;
  cursor: pointer;
}
.content-link {
  color: #ffffff;
  text-decoration: none;
}
.content-link:hover {
  text-decoration: underline;
}
.list-img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 6%;
  border-top-right-radius: 6%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
  border-radius: 5px 5px 0 0;
}

.container {
  padding: 1px 16px;
  background: #696969;
  height: 170px;
  margin-top: -4px;
  border-bottom-left-radius: 6%;
  border-bottom-right-radius: 6%;
}
@media (max-width: 1125px) and (min-width: 991px) {
  .cards-column {
    flex: 0 1 37%;
  }
}

@media (max-width: 1253px) and (min-width: 1126px) {
  .cards-column {
    flex: 0 1 27%;
  }
  .container h4 {
    font-size: 17px;
  }
  .container {
    height: 200px;
  }
}

@media (max-width: 665px) and (min-width: 630px) {
  .container {
    height: 215px;
  }
}

@media (max-width: 990px) and (min-width: 629px) {
  .cards-column {
    flex: 0 1 40%;
  }
  .container h4 {
    font-size: 17px;
  }
  .container {
    height: 190px;
  }
}

@media (max-width: 628px) {
  .cards-column {
    flex: 0 1 91%;
    margin-right: 0px;
    margin-bottom: 15px;
  }
}
@media (min-width: 1600px) {
  .cards-column {
    flex: 0 1 19%;
    margin-bottom: 30px;
    margin-right: 50px;
  }
}
